.loginForm {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.loginInput {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  border-color: rgb(80, 48, 11);
  color: rgb(80, 48, 11);
  outline: none;
}

.loginLable {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(80, 48, 11);
  font-size: large;
}

.loginBtn {
  width: 140px;
  padding: 10px;
  margin-left: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(247, 185, 109);
  background-color: rgb(247, 185, 109);
  color: rgb(80, 48, 11);
}

.loginBtn:hover,
.loginBtn:focus {
  border-style: solid;
  border-color: rgb(247, 185, 109);
  background-color: bisque;
}
