.filterWrap {
  padding: 40px;
}

.filter {
  font-size: large;
  color: rgb(80, 48, 11);
}

.filterInput {
  width: 200px;
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(80, 48, 11);
  color: rgb(80, 48, 11);
  outline: none;
}
