.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.btnDelete {
  margin-left: 100px;
  margin-top: 10px;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(247, 185, 109);
  background-color: rgb(247, 185, 109);
}

.btnDelete:hover,
.btnDelete:focus {
  border-color: rgb(247, 185, 109);
  background-color: bisque;
}

.item {
  width: 300px;
}
